<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Candy Consumption</title>
    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
    <h1>Edit Candy Consumption</h1>
    <form action="#" th:action="@{/updateHalloweenCandyConsumption}" th:object="${halloweenCandyConsumption}" method="post" onsubmit="validateForm(event);">
        <input type="hidden" th:field="*{id}">
        <label>Quantity: </label><input type="text" id="quantity" name="quantity" th:field="*{quantity}"><br>
        <label>Candy Brand Name: </label><input type="text" id="candyBrandname" name="candyBrandname" th:field="*{candyBrandname}"><br>
        <label>Description: </label><input type="text" id="description" name="description" th:field="*{description}"><br>
        <label>Before Date: </label><input type="date" id="beforeDate" name="beforeDate" th:field="*{beforeDate}"><br>
        <label>Category: </label>
        <select id="category" name="category" th:field="*{category}">
            <option th:each="cat : ${halloweenCandyConsumption.HALLOWEENCATEGORIES}" th:value="${cat}" th:text="${cat}"></option>
        </select><br>
        <input type="submit" value="Update">
    </form>
    
    <script>
        function validateForm(event) {
            var quantityInput = document.getElementById("quantity").value;
            var descriptionInput = document.getElementById("description").value;
            var candyBrandnameInput = document.getElementById("candyBrandname").value;

            // Validate Quantity (only numbers)
            if (!(/^\d+$/.test(quantityInput))) {
                alert("Quantity must be a number.");
                event.preventDefault(); // Prevent form submission
                return false;
            }

            // Validate Description (not null)
            if (descriptionInput.trim() === "") {
                alert("Description cannot be empty.");
                event.preventDefault(); // Prevent form submission
                return false;
            }

            // Validate Candy Brand Name (not null)
            if (candyBrandnameInput.trim() === "") {
                alert("Candy Brand Name cannot be empty.");
                event.preventDefault(); // Prevent form submission
                return false;
            }

            // Form is valid, continue with form submission
            return true;
        }
    </script>
</body>
</html>
